/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/



.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-block-start: 100px;
  color: var(--text_color, #000000);
  background-color: var(--pages-background-color, #ffffff);
  background-image: var(--page-background-image, none);
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--page-font-family, "Inter", Arial, sans-serif);
  font-variation-settings: "wght" var(--page-font-weight, 400);
}

.block_html {
  color: var(--text_color, #000000);
  font-family: var(
    --machine-font-family,
    "Press Start 2P",
    "Roboto Mono",
    monospace
  );
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin: 136px 0px 20px 0px;
  outline: none;
  text-decoration: none;
  cursor: text;
}



.block_closing_tag {
  color: var(--text_color, #000000);
  font-family: var(
    --machine-font-family,
    "Press Start 2P",
    "Roboto Mono",
    monospace
  );
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.header {
  display: grid;
  justify-items: center;
  justify-content: center;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 100px;
  
}

.block {
  max-inline-size: 696px;
  border: solid 2px var(--border_color, #000000);
  background: var(--pages-background-color, #ffffff);
  margin-inline: auto;
}


.theme-menu__list {
  display: grid;
  gap: 7px;
  margin-left: 20px;
  margin-bottom: 24px;
}



.theme-menu__button {
  position: relative;
  background-color: transparent;
  color: var(--border_color, #000000);
  font-family: var(
    --machine-font-family,
    "Press Start 2P",
    "Roboto Mono",
    monospace
  );
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: opacity 0.3s ease;
  appearance: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:not(:disabled)::after {
  content: "";
  display: block;
  opacity: 0.6;
  background: var(--text_color, #000000);
  height: 2px;
  transform-origin: left;
  inline-size: 100%;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-start: -19px;
  inset-block-start: 2px;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.main {
  display: grid;
  justify-items: center;
}

.header_title {
  font-size: 18px;
  font-variation-settings: "wght" var(--heading-weight, 700);
}

.header_block {
  border-bottom: 2px solid var(--border-bottom, #000000);
  padding: 3px 24px 3px 10px;
}

.block_grid {
  display: grid;
  gap: 53px;
}

.article_block {
  max-inline-size: 699px;
  border: solid 2px var(--border_color, #000000);
  background: var(--pages-background-color, #ffffff);
  margin-inline: auto;
}

.img_block {
  position: relative;
  overflow: hidden;
}

.img_picture {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.lable {
  position: absolute;
  z-index: 1;
  color: var(--text_color, #000000);
  font-family: var(
    --machine-font-family,
    "Press Start 2P",
    "Roboto Mono",
    monospace
  );
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 0 0 1px var(--pages-background-color, #ffffff);
  inset-inline-end: 20px;
  inset-block-start: 26px;
}

.paragraph_block {
  display: grid;
  border-top: 2px solid var(--border-top, #000000);
  gap: 29px;
  padding: 25px 25px 0 25px;
  line-height: 116.667%;
  font-size: 18px;
}

.like_and_button {
  display: flex;
  justify-content: right;
  gap: 5px;
  max-block-size: 38px;
  margin-block-start: 25px;
  margin-inline-end: 25px;
  margin-block-end: 25px;
}

.card__icon-button {
  background-color: transparent;
  transition: border 0.3s ease;
  padding: 0;
  border: 2px solid transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text_color, #000000);
}

.like-icon {
  cursor: pointer;
  max-block-size: 38px;
}

.button_active {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background-color: var(--pages-background-color, #ffffff);
  background: var();
  border: 2px solid var(--text_color, #000000);
  cursor: pointer;
}

.button_active:focus {
  outline: none;
}

.button_active:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text_color, #000000);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text-color, #ffffff);
  mix-blend-mode: difference;
}

.button_active::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: var(--text_color, #000000);
  transition: transform 0.5s ease-in-out;
  inline-size: 100%;
  block-size: 100%;
  transform: scaleX(0);
  transform-origin: left;
}

.button_active:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  width: 130px;
  padding: 9px 17px;
  color: var(--text_color, #000000);
  font-family: var(
    --machine-font-family,
    "Press Start 2P",
    "Roboto Mono",
    monospace
  );
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

.brightness {
  filter: brightness(100%) hue-rotate(54deg);
}

.saturate {
  filter: saturate(400%) hue-rotate(330deg);
}

.sepia_one {
  filter: brightness(70%) hue-rotate(65deg);
}

.sepia {
  filter: sepia(150%);
}

.invert {
  filter: invert(70%) hue-rotate(31deg);
}

.blur {
  filter: blur(20px);
}

.saturate_blur {
  filter: saturate(100%) hue-rotate(128deg) blur(2px);
}

.save {
  margin-top: 50px;
  margin-bottom: 105px;
}

.button_save {
  background-color: var(--pages-background-color, #ffffff);
  border: 2px solid var(--border_color, #000000);
}

.button {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 11fr;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 16.5px;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text_color, #000000);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: transform 0.5s ease-in-out;
  background: var(--text_color, #000000);
  inline-size: 100%;
  block-size: 100%;
  transform-origin: left;
  transform: scaleX(0);
}

.button:hover::before {
  transform: scaleX(1);
}

.button_text {
  color: var(--text_color, #000000);
  font-family: var(
    --machine-font-family,
    "Press Start 2P",
    "Roboto Mono",
    monospace
  );
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

.button_text {
  position: relative;
  z-index: 1;
  color: var(--button-text-color, #ffffff);
  mix-blend-mode: difference;
}

.floppy_disk_21 {
  position: relative;
  z-index: 1;
  fill: var(--text_color, #000000);
}

.floppy_disk_21 {
  position: relative;
  z-index: 1;
  fill: var(--button-text-color, #ffffff);
  mix-blend-mode: difference;
}

.floppy_disk_39 {
  fill: var(--text_color, #000000);
}

.modal {
  display: grid;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.75);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}

.modal__box {
  position: relative;
  background-color: var(--pages-background-color, #ffffff);
  margin: 15% auto;
  padding: 20px;
  border: 2px solid var(--text_color, #000000);
  max-width: 357px;
  transform: scale(0);
  transition: transform 0.8s;
}

.block_with_text_and_button {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal.open .modal__box {
  transform: scale(1);
}

.modal_close {
  position: relative;
  z-index: 1;
  width: 293px;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: 2px solid var(--text_color, #000000);
  background: var(--pages-background-color, #ffffff);
}

.modal_close:focus {
  outline: none;
}

.modal_close:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text_color, #000000);
}

.modal_close::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: transform 0.5s ease-in-out;
  background: var(--text_color, #000000);
  inline-size: 100%;
  block-size: 100%;
  transform-origin: left;
  transform: scaleX(0);
}

.modal_close:hover::before {
  transform: scaleX(1);
}

.ok_button {
  color: var(--text_color, #000000);
  font-family: var(
    --machine-font-family,
    "Press Start 2P",
    "Roboto Mono",
    monospace
  );
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; 
  text-transform: uppercase;
}

.ok_button {
  position: relative;
  z-index: 1;
  color: var(--button-text-color, #ffffff);
  mix-blend-mode: difference;
}

.floppy_and_text {
  display: grid;
  grid-template-columns: 39px 1fr;
  gap: 20px;
}

.text_block {
  color: var(--text_color, #000000);
  font-family: var(
    --machine-font-family,
    "Press Start 2P",
    "Roboto Mono",
    monospace
  );
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
  text-transform: uppercase;
  width: 234px;
}

.like-icon {
  fill: var(--pages-background-color, #ffffff);
  transition: fill 0.3s ease;
}

.like-icon:hover {
  animation: pulse 0.5s infinite alternate;
}

.paragraph {
  max-width: 646px;
}







@supports (
  (-webkit-text-stroke: 1px var(--page-background-color, #ffffff)) or
    (text-shadow: 1px var(--page-background-color, #ffffff))
) {
  .lable {
    -webkit-text-stroke: 1px var(--page-background-color, #ffffff);
    text-shadow: 1px var(--page-background-color, #ffffff);
  }
}
